.main-header{
    background-color: rgb(116, 221, 177);
    { margin 0: ;
    padding: 0;
    }
}
.main-header{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header-nav{
    width: 100%;
    max-width: 800px;
    padding: 0 16px;
}
.main-header-lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.main-header-item{
    list-style-type: none;
    text-transform: uppercase;
    color:aquamarine;
}
.main-header-item a{
    color: inherit;
    text-decoration: none;
}
.main-header-item:hover{
    color: rgba(red, green, blue, 0.8)
}